spring:
  application:
    name: ingsis
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: localhost
      port: 6379


azure:
  storage:
    connection-string: DefaultEndpointsProtocol=https;AccountName=${AZURE_STORAGE_ACCOUNT_NAME};AccountKey=${AZURE_STORAGE_ACCOUNT_KEY};BlobEndpoint=${AZURE_STORAGE_BLOB_ENDPOINT}

redis:
  streams:
    lintRequest: ${REDIS_STREAM_REQUEST_LINT_KEY}
    lintResult: ${REDIS_STREAM_RESULT_LINT_KEY}
  groups:
    lint: ${REDIS_GROUP_LINT_KEY}